extends ../layout

block content 
  div.text-center
    form(action="/users/register" method="POST")
      h1() Please create your account
      input(name="username" placeholder="Username" required autofocus)
      br()
      input(type="password" name="password" placeholder="Password" required autofocus)
      br()
      button(type="submit" value="Submit") Sign up
